RewriteEngine on
# Allow any files or directories that exist to be displayed directly

RewriteCond ${REQUEST_URI} ^.+$
RewriteRule ^core/ test-conn/core/index.php



#ErrorDocument 404 test-conn/home/index.php
#ErrorDocument 500 test-conn/home/index.php
